<div class="panel panel-default">
    <div class="panel-body">
        <div ng-repeat="entry in entries">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-sm-1">
                            <h4 class="text-left"><span class="glyphicon glyphicon-hand-right"></span></h4>
                        </div>
                        <div class="col-sm-11">
                            <h4><a href="{{current_city}}/detail/{{entry._id}}" target="_blank">{{entry.title}}</a></h4>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
        </div>
    </div>
</div>