<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline">
                    <li ng-repeat="district in districts">
                        <a href="javascript:void(0)" ng-click="removeQuery('region_district','district')" ng-if="district=='全部'">
                            {{district}}
                        </a>
                        <a href="javascript:void(0)" ng-click="addQuery('region_district',district,'district','区/县')" ng-if="district!='全部'">
                            {{district}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <hr/>
        <div class="row">
            <ul class="list-inline col-md-12">
                <li>
                    <a href="javascript:void(0)" ng-click="removeQuery('desc.type','type')">全部</a>
                </li>
                <li>
                    <a href="javascript:void(0)" ng-click="addQuery('desc.type','全职','type','类型')">全职</a>
                </li>
                <li>
                    <a href="javascript:void(0)" ng-click="addQuery('desc.type','兼职','type','类型')">兼职</a>
                </li>
                <li>
                    <a href="javascript:void(0)" ng-click="addQuery('desc.type','其他','type','类型')">其他</a>
                </li>
            </ul>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal" name="form_hr_want_salary" role="form">
                    <div class="form-group has-feedback">
                        <div class="col-md-3">
                            <input type="number" maxlength="5" ng-model="query_digit.salary_low"
                                   ng-pattern="/^[1-9][0-9]{2,4}$/" name="hr_want_salary_low"
                                   ng-required="true" class="form-control input-sm">
                            <span class="glyphicon glyphicon-ok form-control-feedback"
                                  ng-if="form_hr_want_salary.hr_want_salary_low.$valid"></span>
                            <div class="help-block"
                                 ng-if="(form_hr_want_salary.hr_want_salary_low.$invalid&&
                                 form_hr_want_salary.hr_want_salary_low.$dirty)||
                                (form_hr_want_salary.hr_want_salary_high.$invalid&&
                                form_hr_want_salary.hr_want_salary_high.$dirty)||
                                query_digit.salary_high<query_digit.salary_low">
                                <p class="label label-warning">
                                    3-5位数字。后面的数字要大于前面的数字。
                                </p>
                            </div>
                        </div>
                        <div class="col-md-1"><h5 class="text-center">—</h5></div>
                        <div class="col-md-3">
                            <input type="number" maxlength="5" ng-model="query_digit.salary_high"
                                   ng-pattern="/^[1-9][0-9]{2,4}$/" name="hr_want_salary_high"
                                   ng-required="true" class="form-control input-sm">
                            <span class="glyphicon glyphicon-ok form-control-feedback" ng-if="form_hr_want_salary.hr_want_salary_high.$valid">
                            </span>
                        </div>
                        <div class="col-md-2"><h5 class="text-left">元/月</h5></div>
                        <div class="col-md-1">
                            <button class="btn btn-primary btn-sm" ng-click="addQueryRange('desc.salary',query_digit.salary_low,query_digit.salary_high,'salary','工资','元/月')"
                                    ng-if="form_hr_want_salary.$valid&&query_digit.salary_high>=query_digit.salary_low">
                                筛选
                            </button>
                            <button class="btn btn-primary btn-sm" ng-if="form_hr_want_salary.$invalid||query_digit.salary_high<query_digit.salary_low" disabled>
                                筛选
                            </button>
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-default btn-sm" ng-click="removeQueryRange('desc.salary','salary_low','salary_high','salary')">
                                不限
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <hr/>        
        <div class="row">
            <div class="col-md-8 center-block">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="搜索想要的信息，关键词以空格隔开。最多30个字符。"
                           ng-model="List.s_search" maxlength="30"/>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"
                                    ng-click="addQuery_searchBar(['title'])">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <hr/>
        <div class="row" ng-if="count_query_display>0">
            <ul>当前筛选条件：
                <li ng-repeat="cond in query_display">{{cond}}</li>
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div ng-repeat="entry in entries">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-sm-1">
                            <h4 class="text-left"><span class="glyphicon glyphicon-hand-right"></span></h4>
                        </div>
                        <div class="col-sm-11">
                            <h4><a href="{{current_city}}/detail/{{entry._id}}" target="_blank">{{entry.title}}</a></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1">
                            <p class="text-left"><span class="glyphicon glyphicon-info-sign"></span></p>
                        </div>
                        <div class="col-sm-11">
                            <p>{{entry.desc.name}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1">
                            <p class="text-left"><span class="glyphicon glyphicon-map-marker"></span></p>
                        </div>
                        <p class="col-sm-11">{{entry.region_district}}，{{entry.region_addr}}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4 class="text-center">{{entry.desc.salary}}元/月</h4>
                    <h4 class="text-center">{{entry.desc.type}}</h4>
                </div>
            </div>
            <hr/>
        </div>
    </div>
</div>