<div class="form-group has-feedback">
    <label class="control-label col-md-2 text-left" for="hr_want_name">应聘职位：</label>
    <div class="col-md-6">
        <input id="hr_want_name" type="text" name="hr_want_name" ng-model="entry.desc.name"
               ng-pattern="/^[\s\S]{2,15}$/"
               ng-required="true" class="form-control input-md" placeholder="招聘职位名称，15个字符以内" maxlength="15">
        <span class="glyphicon glyphicon-ok form-control-feedback" ng-if="entryForm.hr_want_name.$valid"></span>
        <p ng-if="entryForm.hr_want_name.$invalid&&entryForm.hr_want_name.$dirty" class="help-block label label-warning">
            输入职务名称，2-15个字符。
        </p>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2 text-left" for="hr_want_type">应聘类别：</label>
    <div class="col-md-10">
        <select ng-model="entry.desc.type" ng-required="true" id="hr_want_type">
            <option value="全职">全职</option>
            <option value="兼职">兼职</option>
            <option value="其他">其他</option>
        </select>
    </div>
</div>
<div class="form-group has-feedback">
    <label class="control-label col-md-2 text-left" for="hr_want_salary">期望月薪：</label>
    <div class="col-md-4">
        <input id="hr_want_salary" type="number" name="hr_want_salary" ng-model="entry.desc.salary"
               ng-pattern="/^[1-9][0-9]{2,4}$/"
               ng-required="true" class="form-control input-md" placeholder="如3000" maxlength="5">
        <span class="glyphicon glyphicon-ok form-control-feedback" ng-if="entryForm.hr_want_salary.$valid"></span>
        <p ng-if="entryForm.hr_want_salary.$invalid&&entryForm.hr_want_salary.$dirty" class="help-block label label-warning">
            请填写有效价格，3-5位数字。
        </p>
    </div>
    <div class="col-md-4">
        <h4 class="text-left">元/月</h4>
    </div>
</div>