<div class="form-group">
    <label class="control-label col-md-2 text-left" for="re_rent_buy_r_price_e">价格范围：</label>
    <div class="col-md-4">
        <select ng-model="entry_upload.desc.price" ng-required="true" id="re_rent_buy_r_price_e">
            <option value="50万元以下">50万元以下</option>
            <option value="50-100万元">50-100万元</option>
            <option value="100-150万元">100-150万元</option>
            <option value="150-200万元">150-200万元</option>
            <option value="200-250万元">200-250万元</option>
            <option value="250-300万元">250-300万元</option>
            <option value="300-350万元">300-350万元</option>
            <option value="350-400万元">350-400万元</option>
            <option value="400-450万元">400-450万元</option>
            <option value="450-500万元">450-500万元</option>
            <option value="500-550万元">500-550万元</option>
            <option value="550万元以上">550万元以上</option>
        </select>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2 text-left" for="re_rent_buy_r_size_e">房屋面积：</label>
    <div class="col-md-4">
        <select ng-model="entry_upload.desc.size" ng-required="true" id="re_rent_buy_r_size_e">
            <option value="50平米以下">50平米以下</option>
            <option value="50-100平米">50-100平米</option>
            <option value="100-150平米">100-150平米</option>
            <option value="150-200平米">150-200平米</option>
            <option value="200-250平米">200-250平米</option>
            <option value="250-300平米">250-300平米</option>
            <option value="300-350平米">300-350平米</option>
            <option value="35平米以上">35平米以上</option>
        </select>
    </div>
</div>
<div class="form-group has-feedback">
    <label class="control-label col-md-2 text-left" for="re_rent_buy_r_type_e">房屋类别：</label>
    <div class="col-md-4">
        <select ng-model="entry_upload.desc.type" ng-required="true" id="re_rent_buy_r_type_e">
            <option value="平房">平房</option>
            <option value="普通住宅">普通住宅</option>
            <option value="公寓">公寓</option>
            <option value="别墅">别墅</option>
            <option value="其他">其他</option>
        </select>
    </div>
</div>
<div class="form-group has-feedback">
    <label class="control-label col-md-2 text-left" for="re_rent_buy_r_model_e">户型：</label>
    <div class="col-md-4">
        <select ng-model="entry_upload.desc.model" ng-required="true" id="re_rent_buy_r_model_e">
            <option value="一室">一室</option>
            <option value="二室">二室</option>
            <option value="三室">三室</option>
            <option value="四室">四室</option>
            <option value="四室以上">四室以上</option>
        </select>
    </div>
</div>
<div class="form-group has-feedback">
    <label class="control-label col-md-2 text-left" for="re_rent_buy_r_property_e">期望产权：</label>
    <div class="col-md-4">
        <select ng-model="entry_upload.desc.property" ng-required="true" id="re_rent_buy_r_property_e">
            <option value="商品房">商品房</option>
            <option value="经济适用房">经济适用房</option>
            <option value="公房">公房</option>
            <option value="使用权">使用权</option>
            <option value="商住两用">商住两用</option>
        </select>
    </div>
</div>