<div class="form-group has-feedback">
    <label class="control-label col-md-2 text-left" for="re_buy_other_price_from_e">期望价格：</label>
    <div class="col-md-3">
        <input id="re_buy_other_price_from_e" type="text" name="re_buy_other_price_from_e" ng-model="entry_upload.desc.price_from"
               ng-pattern="/^[1-9][0-9]{0,4}$/"
               ng-required="true" class="form-control input-md" placeholder="如5500" maxlength="5">
        <span class="glyphicon glyphicon-ok form-control-feedback" ng-if="entryEditForm.re_buy_other_price_from_e.$valid"></span>
        <div class="help-block"
             ng-if="(entryEditForm.re_buy_other_price_from_e.$invalid&&entryEditForm.re_buy_other_price_from_e.$dirty)||
         (entryEditForm.re_buy_other_price_to_e.$invalid&&entryEditForm.re_buy_other_price_to_e.$dirty)">
            <p class="label label-warning">
                请填写有效金额，1-5位数字。后面的数字要大于前面的数字。
            </p>
        </div>
    </div>
    <div class="col-md-1">
        <h4>——</h4>
    </div>
    <div class="col-md-3">
        <input id="re_buy_other_price_to_e" type="text" name="re_buy_other_price_to_e" ng-model="entry_upload.desc.price_to"
               ng-pattern="/^[1-9][0-9]{0,4}$/"
               ng-required="true" class="form-control input-md" placeholder="如5500" maxlength="5">
        <span class="glyphicon glyphicon-ok form-control-feedback" ng-if="entryEditForm.re_buy_other_price_to_e.$valid"></span>
    </div>
    <div class="col-md-3">
        <h4 class="text-left">万元</h4>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2 text-left" for="re_buy_other_type_e">所属类型：</label>
    <div class="col-md-10">
        <select ng-model="entry_upload.desc.type" ng-required="true" id="re_buy_other_type_e">
            <option value="仓库">仓库</option>
            <option value="车位">车位</option>
            <option value="土地">土地</option>
            <option value="厂房">厂房</option>
            <option value="其他">其他</option>
        </select>
    </div>
</div>
<div class="form-group has-feedback">
    <label class="control-label col-md-2 text-left" for="re_buy_other_size_e">面积：</label>
    <div class="col-md-4">
        <input id="re_buy_other_size_e" type="text" name="re_buy_other_size_e" ng-model="entry_upload.desc.size"
               ng-pattern="/^[1-9][0-9]{1,4}$/"
               ng-required="true" class="form-control input-md" placeholder="如120" maxlength="5">
        <span class="glyphicon glyphicon-ok form-control-feedback" ng-if="entryEditForm.re_buy_other_size_e.$valid"></span>
        <p ng-if="entryEditForm.re_buy_other_size_e.$invalid&&entryEditForm.re_buy_other_size_e.$dirty" class="help-block label label-warning">
            请填写有效面积，2-5位整数。
        </p>
    </div>
    <div class="col-md-4">
        <h4 class="text-left">平米</h4>
    </div>
</div>