<div class="row">
    <div class="col-md-1">
        <h4 class="text-left"><span class="glyphicon glyphicon-info-sign"></span></h4>
    </div>
    <div class="col-md-11">
        <h4 class="text-left">房租金额：{{entry.desc.price}}元/月</h4>
        <h4 class="text-left">支付方式：{{entry.desc.type_deposit}}</h4>
        <h4 class="text-left">小区名称：{{entry.desc.name_residence}}</h4>
        <h4 class="text-left">具体情况：{{entry.desc.type}}，{{entry.desc.type_room}}</h4>
        <h4 class="text-left">最早入住：{{entry.desc.time_move_in}}</h4>
    </div>
</div>
