<div class="form-group has-feedback">
    <label class="control-label col-md-2 text-left" for="re_sell_r_price_e">价格：</label>
    <div class="col-md-4">
        <input id="re_sell_r_price_e" type="text" name="re_sell_r_price_e" ng-model="entry_upload.desc.price"
               ng-pattern="/^[1-9][0-9]{1,3}$/"
               ng-required="true" class="form-control input-md" placeholder="如100" maxlength="4">
        <span class="glyphicon glyphicon-ok form-control-feedback" ng-if="entryEditForm.re_sell_r_price_e.$valid"></span>
        <p ng-if="entryEditForm.re_sell_r_price_e.$invalid&&entryEditForm.re_sell_r_price_e.$dirty" class="help-block label label-warning">
            请填写有效价格，2-4位数字。
        </p>
    </div>
    <div class="col-md-4">
        <h4 class="text-left">万元</h4>
    </div>
</div>
<div class="form-group has-feedback">
    <label class="control-label col-md-2 text-left" for="re_sell_r_name_r_e">小区名称：</label>
    <div class="col-md-6">
        <input id="re_sell_r_name_r_e" type="text" name="re_sell_r_name_r_e" ng-model="entry_upload.desc.name_residence"
               ng-pattern="/^[\u4e00-\u9fa5][\u4e00-\u9fa5A-Z0-9]{1,9}$/"
               ng-required="true" class="form-control input-md" placeholder="如XX小区" maxlength="10">
        <span class="glyphicon glyphicon-ok form-control-feedback" ng-if="entryEditForm.re_sell_r_name_r_e.$valid"></span>
        <p ng-if="entryEditForm.re_sell_r_name_r_e.$invalid&&entryEditForm.re_sell_r_name_r_e.$dirty" class="help-block label label-warning">
            填写小区名称，2-10个字符，支持汉字、数字和大写字母。
        </p>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2 text-left" for="re_sell_r_type_e">户型结构：</label>
    <div class="col-md-10">
        <select ng-model="entry_upload.desc.type" ng-required="true" id="re_sell_r_type_e">
            <option value="四室两厅双卫">四室两厅双卫</option>
            <option value="四室两厅独卫">四室两厅独卫</option>
            <option value="四室一厅双卫">四室一厅双卫</option>
            <option value="四室一厅独卫">四室一厅独卫</option>
            <option value="三室两厅双卫">三室两厅双卫</option>
            <option value="三室两厅独卫">三室两厅独卫</option>
            <option value="三室一厅双卫">三室一厅双卫</option>
            <option value="三室一厅独卫">三室一厅独卫</option>
            <option value="二室一厅">二室一厅</option>
            <option value="一室一厅">一室一厅</option>
            <option value="大开间">大开间</option>
            <option value="其他">其他</option>
        </select>
    </div>
</div>
<div class="form-group has-feedback">
    <label class="control-label col-md-2 text-left" for="re_sell_r_size_e">面积：</label>
    <div class="col-md-4">
        <input id="re_sell_r_size_e" type="text" name="re_sell_r_size_e" ng-model="entry_upload.desc.size"
               ng-pattern="/^[1-9][0-9]{1,2}$/"
               ng-required="true" class="form-control input-md" placeholder="如120" maxlength="3">
        <span class="glyphicon glyphicon-ok form-control-feedback" ng-if="entryEditForm.re_sell_r_size_e.$valid"></span>
        <p ng-if="entryEditForm.re_sell_r_size_e.$invalid&&entryEditForm.re_sell_r_size_e.$dirty" class="help-block label label-warning">
            请填写有效面积，2-3位数字。
        </p>
    </div>
    <div class="col-md-4">
        <h4 class="text-left">平米</h4>
    </div>
</div>