<div class="row">
    <div class="col-md-1">
        <h4 class="text-left"><span class="glyphicon glyphicon-info-sign"></span></h4>
    </div>
    <div class="col-md-11">
        <h4 class="text-left">楼盘价格：{{entry.desc.price}}万元</h4>
        <h4 class="text-left">楼盘名称：{{entry.desc.name_building}}</h4>
        <h4 class="text-left">楼盘类型：{{entry.desc.type}}</h4>
        <h4 class="text-left">使用面积：{{entry.desc.size}}平米</h4>
        <h4 class="text-left">可否注册公司：{{entry.desc.can_reg}}</h4>
    </div>
</div>
