<div class="row">
    <div class="col-md-1">
        <h4 class="text-left"><span class="glyphicon glyphicon-info-sign"></span></h4>
    </div>
    <div class="col-md-11">
        <h4 class="text-left">房屋类型：{{entry.desc.type}}</h4>
        <h4 class="text-left">房租范围：{{entry.desc.price_from}}—{{entry.desc.price_to}}{{entry.desc.type_rent}}</h4>
        <h4 class="text-left">面积范围：{{entry.desc.size_from}}—{{entry.desc.size_to}}平米</h4>
        <h4 class="text-left">可否注册公司：{{entry.desc.can_reg}}</h4>
    </div>
</div>
