<div class="row">
    <div class="col-md-1">
        <h4 class="text-left"><span class="glyphicon glyphicon-info-sign"></span></h4>
    </div>
    <div class="col-md-11">
        <h4 class="text-left">房租金额：{{entry.desc.price}}{{entry.desc.type_rent}}</h4>
        <h4 class="text-left">楼盘名称：{{entry.desc.name_building}}</h4>
        <h4 class="text-left">楼盘类型：{{entry.desc.type}}</h4>
        <h4 class="text-left">使用面积：{{entry.desc.size}}</h4>
        <h4 class="text-left">可否注册公司：{{entry.desc.can_reg}}</h4>
    </div>
</div>
