<div class="form-group has-feedback">
    <label class="control-label col-md-2 text-left" for="re_sell_o_price">价格：</label>
    <div class="col-md-4">
        <input id="re_sell_o_price" type="number" name="re_sell_o_price" ng-model="entry.desc.price"
               ng-pattern="/^[1-9][0-9]{1,4}$/"
               ng-required="true" class="form-control input-md" placeholder="如100" maxlength="5">
        <span class="glyphicon glyphicon-ok form-control-feedback" ng-if="entryForm.re_sell_o_price.$valid"></span>
        <p ng-if="entryForm.re_sell_o_price.$invalid&&entryForm.re_sell_o_price.$dirty" class="help-block label label-warning">
            请填写有效价格，2-5位整数。
        </p>
    </div>
    <div class="col-md-4">
        <h4 class="text-left">万元</h4>
    </div>
</div>
<div class="form-group has-feedback">
    <label class="control-label col-md-2 text-left" for="re_sell_o_name_b">楼盘名称：</label>
    <div class="col-md-6">
        <input id="re_sell_o_name_b" type="text" name="re_sell_o_name_b" ng-model="entry.desc.name_building"
               ng-pattern="/^[\u4e00-\u9fa5][\u4e00-\u9fa5A-Z0-9]{1,9}$/"
               ng-required="true" class="form-control input-md" placeholder="楼盘名称" maxlength="10">
        <span class="glyphicon glyphicon-ok form-control-feedback" ng-if="entryForm.re_sell_o_name_b.$valid"></span>
        <p ng-if="entryForm.re_sell_o_name_b.$invalid&&entryForm.re_sell_o_name_b.$dirty" class="help-block label label-warning">
            填写楼盘名称，2-10个字符，支持汉字、数字和大写字母。
        </p>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2 text-left" for="re_sell_o_type">楼盘类型：</label>
    <div class="col-md-10">
        <select ng-model="entry.desc.type" ng-required="true" id="re_sell_o_type">
            <option value="写字楼">写字楼</option>
            <option value="商务中心">商务中心</option>
            <option value="商住公寓">商住公寓</option>
        </select>
    </div>
</div>
<div class="form-group has-feedback">
    <label class="control-label col-md-2 text-left" for="re_sell_o_size">面积：</label>
    <div class="col-md-4">
        <input id="re_sell_o_size" type="number" name="re_sell_o_size" ng-model="entry.desc.size"
               ng-pattern="/^[1-9][0-9]{1,4}$/"
               ng-required="true" class="form-control input-md" placeholder="如120" maxlength="5">
        <span class="glyphicon glyphicon-ok form-control-feedback" ng-if="entryForm.re_sell_o_size.$valid"></span>
        <p ng-if="entryForm.re_sell_o_size.$invalid&&entryForm.re_sell_o_size.$dirty" class="help-block label label-warning">
            请填写有效面积，2-5位整数。
        </p>
    </div>
    <div class="col-md-4">
        <h4 class="text-left">平米</h4>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2 text-left" for="re_sell_o_reg">是否可注册：</label>
    <div class="col-md-10">
        <select ng-model="entry.desc.can_reg" ng-required="true" id="re_sell_o_reg">
            <option value="可注册">可注册</option>
            <option value="不可注册">不可注册</option>
        </select>
    </div>
</div>