<div class="form-group has-feedback">
    <label class="control-label col-md-2 text-left" for="re_transfer_other_price_rent">租金：</label>
    <div class="col-md-4">
        <input id="re_transfer_other_price_rent" type="text" name="re_transfer_other_price_rent" ng-model="entry.desc.price_rent"
               ng-pattern="/^[1-9][0-9]{1,5}$/"
               ng-required="true" class="form-control input-md" placeholder="如5500" maxlength="6">
        <span class="glyphicon glyphicon-ok form-control-feedback" ng-if="entryForm.re_transfer_other_price_rent.$valid"></span>
        <p ng-if="entryForm.re_transfer_other_price_rent.$invalid&&entryForm.re_transfer_other_price_rent.$dirty" class="help-block label label-warning">
            请填写有效金额，2-6位整数。
        </p>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2 text-left" for="re_transfer_other_type_rent">租金类型：</label>
    <div class="col-md-10">
        <select ng-model="entry.desc.type_rent" ng-required="true" id="re_transfer_other_type_rent">
            <option value="元/天">元/天</option>
            <option value="元/月">元/月</option>
        </select>
    </div>
</div>
<div class="form-group has-feedback">
    <label class="control-label col-md-2 text-left" for="re_transfer_other_price_transfer">转让费：</label>
    <div class="col-md-4">
        <input id="re_transfer_other_price_transfer" type="text" name="re_transfer_other_price_transfer" ng-model="entry.desc.price_transfer"
               ng-pattern="/^[1-9][0-9]{0,2}$/"
               ng-required="true" class="form-control input-md" placeholder="如5500" maxlength="3">
        <span class="glyphicon glyphicon-ok form-control-feedback" ng-if="entryForm.re_transfer_other_price_transfer.$valid"></span>
        <p ng-if="entryForm.re_transfer_other_price_transfer.$invalid&&entryForm.re_transfer_other_price_transfer.$dirty" class="help-block label label-warning">
            请填写有效金额，1-3位整数。
        </p>
    </div>
    <div class="col-md-4">
        <h4 class="text-left">万元</h4>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2 text-left" for="re_transfer_other_type">所属类型：</label>
    <div class="col-md-10">
        <select ng-model="entry.desc.type" ng-required="true" id="re_transfer_other_type">
            <option value="仓库">仓库</option>
            <option value="车位">车位</option>
            <option value="土地">土地</option>
            <option value="厂房">厂房</option>
            <option value="其他">其他</option>
        </select>
    </div>
</div>
<div class="form-group has-feedback">
    <label class="control-label col-md-2 text-left" for="re_transfer_other_size">面积：</label>
    <div class="col-md-4">
        <input id="re_transfer_other_size" type="text" name="re_transfer_other_size" ng-model="entry.desc.size"
               ng-pattern="/^[1-9][0-9]{1,4}$/"
               ng-required="true" class="form-control input-md" placeholder="如120" maxlength="5">
        <span class="glyphicon glyphicon-ok form-control-feedback" ng-if="entryForm.re_transfer_other_size.$valid"></span>
        <p ng-if="entryForm.re_transfer_other_size.$invalid&&entryForm.re_transfer_other_size.$dirty" class="help-block label label-warning">
            请填写有效面积，2-5位整数。
        </p>
    </div>
    <div class="col-md-4">
        <h4 class="text-left">平米</h4>
    </div>
</div>