<div class="form-group has-feedback">
    <label class="control-label col-md-2 text-left" for="sh_instrument_price_e">价格：</label>
    <div class="col-md-4">
        <input id="sh_instrument_price_e" type="number" name="sh_instrument_price_e" ng-model="entry_upload.desc.price"
               ng-pattern="/^[1-9][0-9]{1,4}$/"
               ng-required="true" class="form-control input-md" placeholder="如1000" maxlength="5">
        <span class="glyphicon glyphicon-ok form-control-feedback" ng-if="entryEditForm.sh_instrument_price_e.$valid"></span>
        <p ng-if="entryEditForm.sh_instrument_price_e.$invalid&&entryEditForm.sh_instrument_price_e.$dirty" class="help-block label label-warning">
            请填写有效价格，2-5位整数。
        </p>
    </div>
    <div class="col-md-4">
        <h4 class="text-left">元</h4>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2 text-left" for="sh_instrument_type_e">物品类型：</label>
    <div class="col-md-10">
        <select ng-model="entry_upload.desc.type" ng-required="true" id="sh_instrument_type_e">
            <option value="图书/教材">图书/教材</option>
            <option value="音像">音像</option>
            <option value="软件">软件</option>
            <option value="文教用品">文教用品</option>
            <option value="乐器">乐器</option>
            <option value="文玩/工艺品">文玩/工艺品</option>
            <option value="户外用品">户外用品</option>
            <option value="健身器材">健身器材</option>
            <option value="轮滑/滑板">轮滑/滑板</option>
            <option value="球类用品">球类用品</option>
            <option value="瑜伽用品">瑜伽用品</option>
            <option value="游泳用品">游泳用品</option>
            <option value="钓鱼用品">钓鱼用品</option>
            <option value="各类棋牌">各类棋牌</option>
            <option value="其他文体用品">其他文体用品</option>
        </select>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2 text-left" for="sh_instrument_aged_e">物品状况：</label>
    <div class="col-md-10">
        <select ng-model="entry_upload.desc.aged" ng-required="true" id="sh_instrument_aged_e">
            <option value="全新未拆封">全新未拆封</option>
            <option value="全新已拆封">全新已拆封</option>
            <option value="95成新">95成新</option>
            <option value="9成新">9成新</option>
            <option value="8成新">8成新</option>
            <option value="7成新及以下">7成新及以下</option>
        </select>
    </div>
</div>