<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 center-block">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="搜索想要的信息，关键词以空格隔开。">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
        </div>
        <hr/>
    </div>
    <div class="col-md-3"></div>
</div>


