<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline">
                    <li ng-repeat="district in districts">
                        <a href="javascript:void(0)" ng-click="removeQuery('region_district','district')" ng-if="district=='全部'">
                            {{district}}
                        </a>
                        <a href="javascript:void(0)" ng-click="addQuery('region_district',district,'district','区/县')" ng-if="district!='全部'">
                            {{district}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <hr/>
        <div class="row">
            <ul class="list-inline col-md-12">
                <li>
                    <a href="javascript:void(0)" ng-click="removeQuery('desc.type','type')">全部</a>
                </li>
                <li>
                    <a href="javascript:void(0)" ng-click="addQuery('desc.type','家教','type','类型')">家教</a>
                </li>
                <li>
                    <a href="javascript:void(0)" ng-click="addQuery('desc.type','艺术/体育','type','类型')">艺术/体育</a>
                </li>
                <li>
                    <a href="javascript:void(0)" ng-click="addQuery('desc.type','职业技能培训','type','类型')">职业技能培训</a>
                </li>
                <li>
                    <a href="javascript:void(0)" ng-click="addQuery('desc.type','学历教育','type','类型')">学历教育</a>
                </li>
                <li>
                    <a href="javascript:void(0)" ng-click="addQuery('desc.type','其他服务','type','类型')">其他服务</a>
                </li>
            </ul>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-8 center-block">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="搜索想要的信息，关键词以空格隔开。最多30个字符。"
                           ng-model="List.s_search" maxlength="30"/>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"
                                    ng-click="addQuery_searchBar(['title'])">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <hr ng-if="count_query_display>0"/>
        <div class="row" ng-if="count_query_display>0">
            <ul>当前筛选条件：
                <li ng-repeat="cond in query_display">{{cond}}</li>
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div ng-repeat="entry in entries">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-1">
                            <h4 class="text-left"><span class="glyphicon glyphicon-hand-right"></span></h4>
                        </div>
                        <div class="col-md-11">
                            <h4><a href="{{current_city}}/detail/{{entry._id}}" target="_blank">{{entry.title}}</a></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <p class="text-left"><span class="glyphicon glyphicon-info-sign"></span></p>
                        </div>
                        <div class="col-md-11">
                            <p>{{entry.desc.type}}：{{entry.desc.short_desc}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
        </div>
    </div>
</div>