<div class="form-group">
    <label class="control-label col-md-2 text-left" for="v_buy_sh_type">车辆类型：</label>
    <div class="col-md-10">
        <select ng-model="entry.desc.type" ng-required="true" id="v_buy_sh_type">
            <option value="经济轿车">经济轿车</option>
            <option value="中级轿车">中级轿车</option>
            <option value="高档轿车">高档轿车</option>
            <option value="商务车">商务车</option>
            <option value="越野车">越野车</option>
            <option value="面包车">面包车</option>
            <option value="客车/中巴">客车/中巴</option>
            <option value="货车/皮卡">货车/皮卡</option>
            <option value="厢式货车">厢式货车</option>
            <option value="其他车型">其他车型</option>
        </select>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2 text-left" for="v_buy_sh_gear">档位类型：</label>
    <div class="col-md-10">
        <select ng-model="entry.desc.gear" ng-required="true" id="v_buy_sh_gear">
            <option value="手动">手动</option>
            <option value="全自动">全自动</option>
            <option value="手自一体">手自一体</option>
            <option value="CVT">CVT</option>
            <option value="不限类型">不限类型</option>
        </select>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2 text-left" for="v_buy_sh_emission">排量类型：</label>
    <div class="col-md-10">
        <select ng-model="entry.desc.emission" ng-required="true" id="v_buy_sh_emission">
            <option value="1.0升以下">1.0升以下</option>
            <option value="1.0-1.6升">1.0-1.6升</option>
            <option value="1.6-2.2升">1.6-2.2升</option>
            <option value="2.2-2.8升">2.2-2.8升</option>
            <option value="2.8-4.0升">2.8-4.0升</option>
            <option value="4.0升以上">4.0升以上</option>
        </select>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2 text-left" for="v_buy_sh_range">行驶里程：</label>
    <div class="col-md-10">
        <select ng-model="entry.desc.range" ng-required="true" id="v_buy_sh_range">
            <option value="1万公里以内">1万公里以内</option>
            <option value="3万公里以内">3万公里以内</option>
            <option value="5万公里以内">5万公里以内</option>
            <option value="8万公里以内">8万公里以内</option>
            <option value="10万公里以内">10万公里以内</option>
            <option value="15万公里以内">15万公里以内</option>
            <option value="20万公里以内">20万公里以内</option>
            <option value="25万公里以内">25万公里以内</option>
            <option value="30万公里以内">30万公里以内</option>
            <option value="不限里程">不限里程</option>
        </select>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2 text-left" for="v_buy_sh_price">期望价格：</label>
    <div class="col-md-10">
        <select ng-model="entry.desc.price" ng-required="true" id="v_buy_sh_price">
            <option value="1万元以内">1万元以内</option>
            <option value="1-2万元">1-2万元</option>
            <option value="2-3万元">2-3万元</option>
            <option value="3-5万元">3-5万元</option>
            <option value="5-8万元">5-8万元</option>
            <option value="8-12万元">8-12万元</option>
            <option value="12-18万元">12-18万元</option>
            <option value="18-25万元">18-25万元</option>
            <option value="25-40万元">25-40万元</option>
            <option value="40万元以上">40万元以上</option>
        </select>
    </div>
</div>