<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <ul class="list-inline col-md-12">
                <li>
                    <a href="javascript:void(0)" ng-click="removeQuery('desc.type','type')">全部</a>
                </li>
                <li>
                    <a href="javascript:void(0)" ng-click="addQuery('desc.type','经济轿车','type','类型')">经济轿车</a>
                </li>
                <li>
                    <a href="javascript:void(0)" ng-click="addQuery('desc.type','中级轿车','type','类型')">中级轿车</a>
                </li>
                <li>
                    <a href="javascript:void(0)" ng-click="addQuery('desc.type','高档轿车','type','类型')">高档轿车</a>
                </li>
                <li>
                    <a href="javascript:void(0)" ng-click="addQuery('desc.type','商务车','type','类型')">商务车</a>
                </li>
                <li>
                    <a href="javascript:void(0)" ng-click="addQuery('desc.type','越野车','type','类型')">越野车</a>
                </li>
                <li>
                    <a href="javascript:void(0)" ng-click="addQuery('desc.type','面包车','type','类型')">面包车</a>
                </li>
                <li>
                    <a href="javascript:void(0)" ng-click="addQuery('desc.type','客车/中巴','type','类型')">客车/中巴</a>
                </li>
                <li>
                    <a href="javascript:void(0)" ng-click="addQuery('desc.type','货车/皮卡','type','类型')">货车/皮卡</a>
                </li>
                <li>
                    <a href="javascript:void(0)" ng-click="addQuery('desc.type','厢式货车','type','类型')">厢式货车</a>
                </li>
                <li>
                    <a href="javascript:void(0)" ng-click="addQuery('desc.type','其他车型','type','类型')">其他车型</a>
                </li>
            </ul>
        </div>
        <hr/>
        <div class="row">
            <ul class="list-inline col-md-12">
                <li>
                    <a href="javascript:void(0)" ng-click="removeQuery('desc.range','range')">全部</a>
                </li>
                <li>
                    <a href="javascript:void(0)" ng-click="addQuery('desc.range','1万公里以内','range','里程')">1万公里以内</a>
                </li>
                <li>
                    <a href="javascript:void(0)" ng-click="addQuery('desc.range','3万公里以内','range','里程')">3万公里以内</a>
                </li>
                <li>
                    <a href="javascript:void(0)" ng-click="addQuery('desc.range','5万公里以内','range','里程')">5万公里以内</a>
                </li>
                <li>
                    <a href="javascript:void(0)" ng-click="addQuery('desc.range','8万公里以内','range','里程')">8万公里以内</a>
                </li>
                <li>
                    <a href="javascript:void(0)" ng-click="addQuery('desc.range','10万公里以内','range','里程')">10万公里以内</a>
                </li>
                <li>
                    <a href="javascript:void(0)" ng-click="addQuery('desc.range','15万公里以内','range','里程')">15万公里以内</a>
                </li>
                <li>
                    <a href="javascript:void(0)" ng-click="addQuery('desc.range','20万公里以内','range','里程')">20万公里以内</a>
                </li>
                <li>
                    <a href="javascript:void(0)" ng-click="addQuery('desc.range','25万公里以内','range','里程')">25万公里以内</a>
                </li>
                <li>
                    <a href="javascript:void(0)" ng-click="addQuery('desc.range','30万公里以内','range','里程')">30万公里以内</a>
                </li>
            </ul>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-8 center-block">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="搜索想要的信息，关键词以空格隔开。最多30个字符。"
                           ng-model="List.s_search" maxlength="30"/>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"
                                    ng-click="addQuery_searchBar(['title'])">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <hr ng-if="count_query_display>0"/>
        <div class="row" ng-if="count_query_display>0">
            <ul>当前筛选条件：
                <li ng-repeat="cond in query_display">{{cond}}</li>
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div ng-repeat="entry in entries">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-1">
                            <h4 class="text-left"><span class="glyphicon glyphicon-hand-right"></span></h4>
                        </div>
                        <div class="col-md-11">
                            <h4><a href="{{current_city}}/detail/{{entry._id}}" target="_blank">{{entry.title}}</a></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <p class="text-left"><span class="glyphicon glyphicon-info-sign"></span></p>
                        </div>
                        <div class="col-md-11">
                            <p>{{entry.desc.type}}，行驶{{entry.desc.range}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4 class="text-center">{{entry.desc.price}}</h4>
                </div>
            </div>
            <hr/>
        </div>
    </div>
</div>