<div class="panel panel-default">
    <div class="panel-body">        
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal" name="form_v_s_hand_price" role="form">
                    <div class="form-group has-feedback">
                        <div class="col-md-3">
                            <input type="number" maxlength="4" ng-model="query_digit.price_low"
                                   ng-pattern="/^[1-9][0-9]{0,3}$/" name="v_s_hand_price_low"
                                   ng-required="true" class="form-control input-sm">
                            <span class="glyphicon glyphicon-ok form-control-feedback"
                                  ng-if="form_v_s_hand_price.v_s_hand_price_low.$valid"></span>
                            <div class="help-block"
                                 ng-if="(form_v_s_hand_price.v_s_hand_price_low.$invalid&&
                                 form_v_s_hand_price.v_s_hand_price_low.$dirty)||
                                (form_v_s_hand_price.v_s_hand_price_high.$invalid&&
                                form_v_s_hand_price.v_s_hand_price_high.$dirty)||
                                query_digit.price_high<query_digit.price_low">
                                <p class="label label-warning">
                                    1-4位数字。后面的数字要大于前面的数字。
                                </p>
                            </div>
                        </div>
                        <div class="col-md-1"><h5 class="text-center">—</h5></div>
                        <div class="col-md-3">
                            <input type="number" maxlength="4" ng-model="query_digit.price_high"
                                   ng-pattern="/^[1-9][0-9]{0,3}$/" name="v_s_hand_price_high"
                                   ng-required="true" class="form-control input-sm">
                            <span class="glyphicon glyphicon-ok form-control-feedback" ng-if="form_v_s_hand_price.v_s_hand_price_high.$valid">
                            </span>
                        </div>
                        <div class="col-md-2"><h5 class="text-left">万元</h5></div>
                        <div class="col-md-1">
                            <button class="btn btn-primary btn-sm" ng-click="addQueryRange('desc.price',query_digit.price_low,query_digit.price_high,'price','价格','万元')"
                                    ng-if="form_v_s_hand_price.$valid&&query_digit.price_high>=query_digit.price_low">
                                筛选
                            </button>
                            <button class="btn btn-primary btn-sm" ng-if="form_v_s_hand_price.$invalid||query_digit.price_high<query_digit.price_low" disabled>
                                筛选
                            </button>
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-default btn-sm" ng-click="removeQueryRange('desc.price','price_low','price_high','price')">
                                不限
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal" name="form_v_s_hand_range" role="form">
                    <div class="form-group has-feedback">
                        <div class="col-md-3">
                            <input type="number" maxlength="2" ng-model="query_digit.range_low"
                                   ng-pattern="/^[1-9][0-9]{0,1}$/" name="v_s_hand_range_low"
                                   ng-required="true" class="form-control input-sm">
                            <span class="glyphicon glyphicon-ok form-control-feedback"
                                  ng-if="form_v_s_hand_range.v_s_hand_range_low.$valid"></span>
                            <div class="help-block"
                                 ng-if="(form_v_s_hand_range.v_s_hand_range_low.$invalid&&
                                 form_v_s_hand_range.v_s_hand_range_low.$dirty)||
                                (form_v_s_hand_range.v_s_hand_range_high.$invalid&&
                                form_v_s_hand_range.v_s_hand_range_high.$dirty)||
                                query_digit.range_high<query_digit.range_low">
                                <p class="label label-warning">
                                    1-2位数字。后面的数字要大于前面的数字。
                                </p>
                            </div>
                        </div>
                        <div class="col-md-1"><h5 class="text-center">—</h5></div>
                        <div class="col-md-3">
                            <input type="number" maxlength="2" ng-model="query_digit.range_high"
                                   ng-pattern="/^[1-9][0-9]{0,1}$/" name="v_s_hand_range_high"
                                   ng-required="true" class="form-control input-sm">
                            <span class="glyphicon glyphicon-ok form-control-feedback" ng-if="form_v_s_hand_range.v_s_hand_range_high.$valid">
                            </span>
                        </div>
                        <div class="col-md-2"><h5 class="text-left">万公里</h5></div>
                        <div class="col-md-1">
                            <button class="btn btn-primary btn-sm" ng-click="addQueryRange('desc.range',query_digit.range_low,query_digit.range_high,'range','里程','万公里')"
                                    ng-if="form_v_s_hand_range.$valid&&query_digit.range_high>=query_digit.range_low">
                                筛选
                            </button>
                            <button class="btn btn-primary btn-sm" ng-if="form_v_s_hand_range.$invalid||query_digit.range_high<query_digit.range_low" disabled>
                                筛选
                            </button>
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-default btn-sm" ng-click="removeQueryRange('desc.range','range_low','range_high','range')">
                                不限
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-8 center-block">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="搜索想要的信息，关键词以空格隔开。最多30个字符。"
                           ng-model="List.s_search" maxlength="30"/>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"
                                    ng-click="addQuery_searchBar(['title'])">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <hr  ng-if="count_query_display>0"/>
        <div class="row" ng-if="count_query_display>0">
            <ul>当前筛选条件：
                <li ng-repeat="cond in query_display">{{cond}}</li>
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div ng-repeat="entry in entries">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-1">
                            <h4 class="text-left"><span class="glyphicon glyphicon-hand-right"></span></h4>
                        </div>
                        <div class="col-md-11">
                            <h4><a href="{{current_city}}/detail/{{entry._id}}" target="_blank">{{entry.title}}</a></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <p class="text-left"><span class="glyphicon glyphicon-info-sign"></span></p>
                        </div>
                        <div class="col-md-11">
                            <p>{{entry.desc.brand}}，行驶{{entry.desc.range}}万公里</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <p class="text-left"><span class="glyphicon glyphicon-picture"></span></p>
                        </div>
                        <div class="col-md-11">
                            <p>{{entry.pic_count}}图</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4 class="text-center">{{entry.desc.price}}万元</h4>
                </div>
            </div>
            <hr/>
        </div>
    </div>
</div>