<div class="form-group has-feedback">
    <label class="control-label col-md-2 text-left" for="v_sell_sh_price_e">价格：</label>
    <div class="col-md-4">
        <input id="v_sell_sh_price_e" type="number" name="v_sell_sh_price_e" ng-model="entry_upload.desc.price"
               ng-pattern="/(^[1-9][0-9]{0,3}\.[1-9]$)|(^0\.[1-9]$)|(^[1-9][0-9]{0,3}$)/"
               ng-required="true" class="form-control input-md" placeholder="如100" maxlength="6">
        <span class="glyphicon glyphicon-ok form-control-feedback" ng-if="entryEditForm.v_sell_sh_price_e.$valid"></span>
        <p ng-if="entryEditForm.v_sell_sh_price_e.$invalid&&entryEditForm.v_sell_sh_price_e.$dirty" class="help-block label label-warning">
            请填写有效价格，1-4位整数，可包含1位小数。
        </p>
    </div>
    <div class="col-md-4">
        <h4 class="text-left">万元</h4>
    </div>
</div>
<div class="form-group has-feedback">
    <label class="control-label col-md-2 text-left" for="v_sell_sh_brand_e">品牌系列款式：</label>
    <div class="col-md-6">
        <input id="v_sell_sh_brand_e" type="text" name="v_sell_sh_brand_e" ng-model="entry_upload.desc.brand"
               ng-pattern="/^[\s\S]{2,20}$/"
               ng-required="true" class="form-control input-md" placeholder="如宝马-7系-轿车" maxlength="20">
        <span class="glyphicon glyphicon-ok form-control-feedback" ng-if="entryEditForm.v_sell_sh_brand_e.$valid"></span>
        <p ng-if="entryEditForm.v_sell_sh_brand_e.$invalid&&entryEditForm.v_sell_sh_brand_e.$dirty" class="help-block label label-warning">
            请填写品牌款式，2-20个字符。
        </p>
    </div>
</div>
<div class="form-group has-feedback">
    <label class="control-label col-md-2 text-left" for="v_sell_sh_range_e">行驶里程：</label>
    <div class="col-md-4">
        <input id="v_sell_sh_range_e" type="number" name="v_sell_sh_range_e" ng-model="entry_upload.desc.range"
               ng-pattern="/(^[1-9][0-9]{0,1}$)|(^[1-9][0-9]{0,1}\.[1-9]$)|(^0\.[1-9]$)/"
               ng-required="true" class="form-control input-md" placeholder="如100" maxlength="4">
        <span class="glyphicon glyphicon-ok form-control-feedback" ng-if="entryEditForm.v_sell_sh_range_e.$valid"></span>
        <p ng-if="entryEditForm.v_sell_sh_range_e.$invalid&&entryEditForm.v_sell_sh_range_e.$dirty" class="help-block label label-warning">
            请填写有效价格，1-2位整数，可包含1位小数。
        </p>
    </div>
    <div class="col-md-4">
        <h4 class="text-left">万公里</h4>
    </div>
</div>
<!--div class="form-group has-feedback">
    <label class="control-label col-md-2 text-left" for="v_sell_sh_time_e">首次上牌时间：</label>
    <div class="col-md-6">
        <input id="v_sell_sh_time_e" type="text" name="v_sell_sh_time_e" ng-model="entry_upload.desc.time_license"
               ng-pattern="/^20[0-9][0-9]-((0[1-9])|(1[0-2]))-((0[1-9])|([1-2][0-9])|(3[0-1]))$/"
               ng-required="true" class="form-control input-md" placeholder="如2000-06-01" maxlength="10">
        <span class="glyphicon glyphicon-ok form-control-feedback" ng-if="entryEditForm.v_sell_sh_time_e.$valid"></span>
        <p ng-if="entryEditForm.v_sell_sh_time_e.$invalid&&entryEditForm.v_sell_sh_time_e.$dirty" class="help-block label label-warning">
            请按照yyyy-mm-dd格式输入有效的时间，如2010-06-01。
        </p>
    </div>
</div-->
