<div class="container">
    <div ng-include="'includes/ad_banner.html'"></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <h4 class="text-left" ng-if="loggedIn">
                <a href="/{{current_city}}/pic_entry/{{entry_upload._id}}">点击修改图片</a>
            </h4>
        </div>
        <div class="col-md-8">
            <form class="form form-horizontal" name="entryEditForm" role="form">
                <div class="form-group has-feedback">
                    <label class="control-label col-md-2 text-left" for="entryEdit_cate">类别：</label>
                    <div class="col-md-6">
                        <input id="entryEdit_cate" placeholder="{{entry_upload.category_chn}}" disabled class="form-control input-md">
                        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label class="control-label col-md-2 text-left" for="entryEdit_title">标题：</label>
                    <div class="col-md-10">
                        <input id="entryEdit_title" type="text" name="entryEdit_title" ng-model="entry_upload.title" ng-pattern="/^[\s\S]{5,30}$/" ng-required="true"
                               class="form-control input-md" placeholder="请输入标题" maxlength="30">
                        <span class="glyphicon glyphicon-ok form-control-feedback" ng-if="entryEditForm.entryEdit_title.$valid"></span>
                        <p ng-if="entryEditForm.entryEdit_title.$invalid&&entryEditForm.entryEdit_title.$dirty" class="help-block label label-warning">
                            请输入标题，5-30个字符。
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2 text-left" for="entryEdit_district">选择区/县：</label>
                    <div class="col-md-10">
                        <select id="entryEdit_district" ng-model="entry_upload.region_district" ng-options="dist for dist in districts" ng-required="true"></select>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label class="control-label col-md-2 text-left" for="entryEdit_addr">详细地址：</label>
                    <div class="col-md-10">
                        <input id="entryEdit_addr" type="text" name="entryEdit_r_addr" ng-model="entry_upload.region_addr" ng-pattern="/^[\s\S]{5,40}$/" ng-required="true"
                               class="form-control input-md" placeholder="请输入具体地址，或XX市XX区/县，或XX地区周边" maxlength="40">
                        <span class="glyphicon glyphicon-ok form-control-feedback" ng-if="entryEditForm.entryEdit_r_addr.$valid"></span>
                        <p ng-if="entryEditForm.entryEdit_r_addr.$invalid&&entryEditForm.entryEdit_r_addr.$dirty" class="help-block label label-warning">
                            请输入详细地址，5-40个字符。
                        </p>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label class="control-label col-md-2 text-left" for="entryEdit_con_n">联系人：</label>
                    <div class="col-md-6">
                        <input id="entryEdit_con_n" type="text" name="entryEdit_contact_n" ng-model="entry_upload.contact_n" ng-pattern="/^[\u4E00-\u9FA5]{2,10}$/" ng-required="true"
                               class="form-control input-md" placeholder="请用汉字输入联系人姓名" maxlength="10">
                        <span class="glyphicon glyphicon-ok form-control-feedback" ng-if="entryEditForm.entryEdit_contact_n.$valid"></span>
                        <p ng-if="entryEditForm.entryEdit_contact_n.$invalid&&entryEditForm.entryEdit_contact_n.$dirty" class="help-block label label-warning">
                            请正确输入联系人姓名，如：张无忌。
                        </p>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label class="control-label col-md-2 text-left" for="entryEdit_con_p">联系人手机：</label>
                    <div class="col-md-6">
                        <input id="entryEdit_con_p" type="text" name="entryEdit_contact_p" ng-model="entry_upload.contact_p"
                               ng-pattern="/^((\+?86)|(\(\+86\)))?(13[0123456789][0-9]{8}|15[012356789][0-9]{8}|18[02356789][0-9]{8}|147[0-9]{8}|1349[0-9]{7})$/"
                               ng-required="true" class="form-control input-md" placeholder="请输入联系人手机号码" maxlength="11">
                        <span class="glyphicon glyphicon-ok form-control-feedback" ng-if="entryEditForm.entryEdit_contact_p.$valid"></span>
                        <p ng-if="entryEditForm.entryEdit_contact_p.$invalid&&entryEditForm.entryEdit_contact_p.$dirty" class="help-block label label-warning">
                            请正确输入联系人手机号码，如13555555555。
                        </p>
                    </div>
                </div>
                <div ng-include="category"></div>
                <div class="form-group">
                    <label class="control-label col-md-2 text-left" for="entryEdit_content">详细描述：</label>
                    <div class="col-md-10">
                        <textarea id="entryEdit_content" ckeditor class="form-control" maxlength="1000" ng-model="entry_upload.content"
                                  ng-pattern="/^[\s\S]{10,1000}$/"
                                  placeholder="请输入详细描述信息。" name="entryEdit_content" ng-required="true">
                        </textarea>
                        <p ng-if="entryEditForm.entryEdit_content.$invalid&&entryEditForm.entryEdit_content.$dirty" class="help-block label label-warning">
                            描述信息应多于20个字，控制在1000字以内。
                        </p>
                    </div>
                </div>
                <div class="form-group" ng-if="loggedIn">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <button ng-if="entryEditForm.$invalid||Edit.uploading" disabled class="btn btn-primary">修改</button>
                        <button ng-click="postEntry()" ng-if="entryEditForm.$valid&&!Edit.uploading" class="btn btn-primary">修改</button>
                    </div>
                </div>
            </form>
            <div class="row">
                <div ng-if="err_upload" class="alert alert-danger alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="closeErrBanner()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>{{msg_upload}}</strong>
                </div>
            </div>
        </div>
        <div class="col-md-2">广告</div>
    </div>
</div>