<div class="container">
    <div ng-include="'includes/ad_banner.html'"></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div ng-include="getIncludeUrl()"></div>
            <nav>
                <ul class="pagination">
                    <li ng-if="page_current>1">
                        <a href="javascript:void(0)" ng-click="prevPage()"><span aria-hidden="true">&larr;</span>上一页</a>
                    </li>
                    <li class="disabled" ng-if="page_current<=1"><a href="javascript:void(0)"><span aria-hidden="true">&larr;</span>上一页</a></li>
                    <li class="disabled">
                        <a href="javascript:void(0)">{{page_current}} / {{page_total}}</a>
                    </li>
                    <li ng-if="page_current<page_total">
                        <a href="javascript:void(0)" ng-click="nextPage()">下一页<span aria-hidden="true">&rarr;</span></a>
                    </li>
                    <li class="disabled" ng-if="page_current>=page_total"><a href="javascript:void(0)">下一页<span aria-hidden="true">&rarr;</span></a></li>
                </ul>
            </nav>
        </div>
        <div class="col-md-2">
            <div ng-include="'includes/ad_sidebar.html'"></div>
        </div>
    </div>
</div>
