<div class="container">
    <div ng-include="'includes/ad_banner.html'"></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-1">
                            <h4 class="text-left"><span class="glyphicon glyphicon-hand-right"></span></h4>
                        </div>
                        <div class="col-md-11">
                            <h4 class="text-left"><strong>{{entry.title}}</strong></h4>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-md-1">
                            <h4 class="text-left"><span class="glyphicon glyphicon-user"></span></h4>
                        </div>
                        <div class="col-md-11">
                            <h4 class="text-left">{{entry.contact_n}}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <h4 class="text-left"><span class="glyphicon glyphicon-phone"></span></h4>
                        </div>
                        <div class="col-md-11">
                            <h4 class="text-left">{{entry.contact_p}}</h4>
                        </div>
                    </div>
                    <!--h4><span class="glyphicon glyphicon-user"></span>：{{entry.contact_n}}</h4-->
                    <div class="row">
                        <div class="col-md-1">
                            <h4 class="text-left"><span class="glyphicon glyphicon-map-marker"></span></h4>
                        </div>
                        <div class="col-md-11">
                            <h4 class="text-left">{{entry.region_district}}，{{entry.region_addr}}</h4>
                        </div>
                    </div>
                    <hr/>
                    <div ng-include="category"></div>
                    <hr/>
                    <div class="row" ng-if="entry.pic_count>0">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <a href="javascript:void(0)" class="text-center">
                                <img ng-src="{{current_img}}" class="img-responsive" alt="{{entry.title}}"/>
                            </a>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <hr ng-if="entry.pic_count>0"/>
                    <div class="row" ng-if="entry.pic_count>0">
                        <div class="col-md-1"></div>
                        <div class="col-md-2" ng-repeat="i_link in entry.pic_links">
                            <a href="javascript:void(0)"  ng-click="switchPic(i_link)">
                                <img ng-src="{{i_link}}"  alt="{{entry.title}}" width="100" height="70"/>
                            </a>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <hr ng-if="entry.pic_count>0"/>
                    <div class="row">
                        <div class="col-md-1">
                            <h4 class="text-left"><span class="glyphicon glyphicon-th-list"></span></h4>
                        </div>
                        <div class="col-md-11">
                            <h4 class="text-left"><strong>详细说明：</strong></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div tsshowhtml content="entry.content"></div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div ng-include="'includes/ad_sidebar.html'"></div>
        </div>
    </div>
</div>