<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <base href="/">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/tiaosao.css" rel="stylesheet">
    <script src="ckeditor/ckeditor.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-route.min.js"></script>
    <script src="js/services/AuthService.js"></script>
    <script src="js/services/ConfigService.js"></script>
    <script src="js/controllers/HomeCtrl.js"></script>
    <script src="js/controllers/EntryCtrl.js"></script>
    <script src="js/controllers/UserCtrl.js"></script>
    <script src="js/controllers/ADCtrl.js"></script>
    <script src="app.js"></script>
    <script src="appRoute.js"></script>
    <title>跳骚市场</title>
</head>
<body>
    <header ng-controller="HomeController as Home">
        <nav class="nav navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a href="javascript:void(0)" class="navbar-brand" ng-click="Home.goHome()">
                        <!--span class="glyphicon glyphicon-thumbs-up">跳骚市场</span-->
                        <img class="img-responsive" src="public/banner_logo.png"/>
                    </a>
                </div>
                <div class="navbar-left">
                    <ul class="nav navbar-nav">
                        <li role="presentation">
                            <a href="/{{Home.current_city}}/locations">
                                <span class="glyphicon glyphicon-map-marker"></span>
                                {{Home.current_city_name}} [切换城市]
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                        <li ng-if="!Home.loggedIn" role="presentation"><a href="/{{Home.current_city}}/signup">注册</a></li>
                        <li ng-if="!Home.loggedIn" role="presentation"><a href="/{{Home.current_city}}/login">登录</a></li>
                        <li role="presentation">
                            <a href="/{{Home.current_city}}/new_entry" target="_blank">
                                <span class="glyphicon glyphicon-pencil"></span>
                                免费发布信息
                            </a>
                        </li>
                        <!--li class="dropdown" role="presentation" ng-if="Home.loggedIn">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"
                               role="button" aria-haspopup="true" aria-expanded="false">
                                我的跳骚<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile">查看个人信息</a></li>
                                <li class="divider" role="separator"></li>
                                <li><a ng-click="Home.logOut()" href="javascript:void(0)">退出登录</a></li>
                            </ul>
                        </li-->
                        <li ng-if="Home.loggedIn" role="presentation">
                            <a href="/{{Home.current_city}}/profile">
                                <span class="glyphicon glyphicon-user"></span>
                                我的跳骚
                            </a>
                        </li>
                        <li ng-if="Home.loggedIn" role="presentation">
                            <a ng-click="Home.logOut()" href="javascript:void(0)">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                                退出登录
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <!--div class="container">
            <p class="col-md-12">如果显示25，前端代码加载成功：{{5*5}}</p>
        </div-->
        <div ng-view></div>
    </main>
    <hr/>
    <div class="container">
        <ul class="col-md-12 list-inline">
            <li><a href="/">链接项目</a></li>
            <li><a href="/">链接项目</a></li>
            <li><a href="/">链接项目</a></li>
            <li><a href="/">链接项目</a></li>
            <li><a href="/">链接项目</a></li>
        </ul>
    </div>
    <footer>
        <div class="container">
            <hr/>
            <div class="footer-copy">
                <p>京ICP备xxxxxxxx号 京ICP证xxxxxx号 京公网安备:110xxxxxxxx</p>
                <p>Copyright©2015 tiaosao.com All Rights Reserved</p>
            </div>
        </div>
    </footer>
</body>
</html>