<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="/">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-route.min.js"></script>
    <script src="app.js"></script>
    <style>
        .footer-copy
        {
            background:#f2f2f2;
            padding:10px;
            text-align: center;
        }
    </style>
    <title>跳骚网</title>
</head>
<body>
    <header>
        <nav class="nav navbar-default navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand"><span class="glyphicon glyphicon-thumbs-up">跳骚网</span></a>
                </div>
                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="/">注册</a></li>
                        <li><a href="/">登录</a></li>
                        <li><span class="spliter"></span></li>
                        <li><a href="/">免费发布信息</a> </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="col-md-12">
            <p>这里以后会是主菜单的位置</p>
        </div>
    </div>
    <div class="container">
        <div class="jumbotron">
            <p>欢迎来到跳骚网，这里以后会出现轮替广告</p>
        </div>
        <div class="col-md-4">
            <p>热门信息-房产</p>
            <button class="btn btn-success">了解更多 &raquo;</button>
        </div>
        <div class="col-md-4">
            <p>热门信息-二手市场</p>
            <button class="btn btn-success">了解更多 &raquo;</button>
        </div>
        <div class="col-md-4">
            <p>热门信息-汽车相关</p>
            <button class="btn btn-success">了解更多 &raquo;</button>
        </div>
    </div>
    <div class="container">
        <hr/>
        <div class="col-md-12">
            <ul class="list-inline">
                <li><a href="/">链接项目</a></li>
                <li><a href="/">链接项目</a></li>
                <li><a href="/">链接项目</a></li>
                <li><a href="/">链接项目</a></li>
                <li><a href="/">链接项目</a></li>
            </ul>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="footer-copy">
                <p>京ICP备xxxxxxxx号 京ICP证xxxxxx号 京公网安备:110xxxxxxxx</p>
                <p>Copyright©2015 tiaosao.com All Rights Reserved</p>
            </div>
        </div>
    </footer>
</body>
</html>